.jumbotron {
  padding-top: 5rem;
  background-color: #f7f57f;
}

#projects {
  background-color: #f7f57f;
}

#tombol {
  margin-top: -16px;
  margin-left: 5px;
}
footer {
  background-color: #f7f57f;
}

section {
  padding-top: 5rem;
}
